<div class="container mt-3">
    <h2>Shoe List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Size</th>
          <th>Color</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shoe of shoes">
          <td>{{ shoe.name }}</td>
          <td>{{ shoe.brand }}</td>
          <td>{{ shoe.price }}</td>
          <td>{{ shoe.size }}</td>
          <td>{{ shoe.color }}</td>
          <td>{{ shoe.quantity }}</td>
          <td>
            <button class="btn btn-secondary btn-sm" [routerLink]="['/shoes/edit', shoe.id]">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteShoe(shoe.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  